
<form action="/login" method="POST">
        <div>
          <label for="username">Username:</label>
           <input type="text" name="username">
       </div>
       <div>
          <label for="password">Password:</label>
           <input type="password" name="password">
       </div>
       <% if (typeof message != "undefined") { %>
           <div class="error-message"><%= message %></div>
        <% } %>
        <div>
           <input type="submit" value="Log In">
       </div>
    </form>
    <button class="loginBtn loginBtn--facebook">
        Login with Facebook
      </button>
      <button class="loginBtn loginBtn--google">
        Login with Google
      </button>