<form action="/signup" method="POST" id="form-container">
    <label for="username">Username</label>
    <input id="username" type="text" name="username" placeholder="JonSnow">
    <br><br>
    <label for="password">Password</label>
    <input id="password" type="password" name="password" placeholder="Your password">
    <br><br>
    <div class="form-check">
        <input type="checkbox" class="form-check-input" id="dropdownCheck">
        <label class="form-check-label" for="dropdownCheck">
          Remember me
        </label>
        <br><br>
      </div>
      <button type="submit" class="btn btn-primary">Log in</button>
    </form>
    <br><br>
    </p>
</form>
<p>Login in with</p>
  <button type="button" class="btn btn-fb"><i class="fa fa-facebook pr-1"></i> Facebook</button>
  <button type="button" class="btn btn-gplus"><i class="fa fa-google-plus pr-1"></i> Google +</button>
  
  <div class="dropdown-divider"></div>
  <p>
  <a class="dropdown-item" href="#">New around here? Sign up</a> Or 
  <a class="dropdown-item" href="#">Forgot password?</a>
</p>
</div>