<!-- views/auth/signup.ejs -->
<h2>Signup</h2>

<form action="/signup" method="POST" id="form-container">
    <label for="username">Username</label>
    <input id="username" type="text" name="username" placeholder="JonSnow">
    <br><br>
    <label for="password">Password</label>
    <input id="password" type="password" name="password" placeholder="Your password">

    <% if (typeof message !== "undefined") { %>
    <div class="error-message"><%= message %></div>
    <% } %>
    <br><br>

    <button>Create account</button>

    <p class="account-message">
        Do you already have an account?
        <a href="/login">Login</a>
    </p>
</form>

<a href="/auth/facebook">Sign up With Facebook</a>
<<<<<<< HEAD
<a href="/auth/google">Sign up With Google</a>
=======
<a href="/auth/google">Sign up With Google</a>
>>>>>>> 3c55b27ef22c290bd1d3d57a27252d66306958c3
