<body>
<div class="cont home">
<h3>Welcome to <h1><%= title %></h1></h3>

<h3>Start your party planning here!</h3>
<form action="/company">
<select name='category'>
  <option value="hall">Hall</option>
  <option value="photography">Photography</option>
  <option value="music">Music</option>
  <option value="flowers">Flowers</option>
  <option value="other">Other</option>
</select>
<input type="submit">
</form>

      <br>
    <h3>Or Find Services By Location</h3>
    <br><br>
    <input style ="width:250px" id= "ricky" type="text">
    <input type="submit" name="" id="ricky">
    <br><br><br>
    <input type="hidden" id="search-box-user-lat" type="text" name="latitude" readonly>
    <input type="hidden" id="search-box-user-lng" type="text" name="longitude" readonly>
    <div id="map"></div>
    <br><br>
   <form action="/new" method = "post" >
  </form>
    <script
    <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDEQxBrSwHxBiSTfLjK29OBcxI8JlQva-0
    &libraries=places">
  </script>
    </script>
    <script type="text/javascript" src="/javascripts/map.js"></script>
  </body>