<div class="cont">
<h3>Welcome to <h1><%= title %></h1></h3>

<h3>Start your party planning here!</h3>
<form action="/companies">
<select name='category'>
  <option value="hall">Hall</option>
  <option value="photography">Photography</option>
  <option value="music">Music</option>
  <option value="flowers">Flowers</option>
  <option value="other">Other</option>
</select>
<input type="submit">
</form>

<div style="width:500px" id="iparty" id="map"></div> 
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDrj5oPB1LJ1fEs_hUfAI5h9IYhwhWmi0Y&libraries=places">
    </script>
    <script type="text/javascript" src="../public/javascripts/map.js"></script>
</div>
