<div class="container-fluid">
<p>Welcome to <h1><%= title %></h1></p>

<p>Start your party planning here!</p>
<select>
  <option value="salon">Salon</option>
  <option value="photography">Photography</option>
  <option value="music">Music</option>
  <option value="flowers">Flowers</option>
  <option value="other">Other</option>
</select
</div>