<head>
  <style>
    body {background: black;
  position: absolute;
  top: -30px;
  left: -10px;
  overflow: hidden;}

.box {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -180px;
  margin-top: -120px;
  width: 360px;
  height: 60px;
  background: transparent;
  color: white;
  font-family: arial;
  font-weight: bold;
  font-size: 50px;
  text-shadow: 0 0 2px #fff;
  animation: fade 2s linear infinite alternate, up 2s linear forwards;
}
@keyframes fade {
  0% {opacity: 0;}
  50% {opacity: 0;}
  100% {opacity: 1;}
}
@keyframes up {
  0% {transform: translateY(200px);}
  50% {transform: translateY(200px);}
  100% {transform: translateY(0px);}
}  
  </style>
</head>

<body>

    <div class="box">iParty</div>



<div class="cont home">
<h3>Welcome to <h1><%= title %></h1></h3>

<h3>Start your party planning here!</h3>
<form action="/company">
<select name='category'>
  <option value="hall">Hall</option>
  <option value="photography">Photography</option>
  <option value="music">Music</option>
  <option value="flowers">Flowers</option>
  <option value="other">Other</option>
</select>
<input type="submit">
</form>

      <br>
    <h3>Or Find Services By Location</h3>
    <br><br>
    <input style ="width:250px" id= "ricky" type="text">
    <input type="submit" name="" id="ricky">
    <br><br><br>
    <input type="hidden" id="search-box-user-lat" type="text" name="latitude" readonly>
    <input type="hidden" id="search-box-user-lng" type="text" name="longitude" readonly>
    <br><br>







    <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDEQxBrSwHxBiSTfLjK29OBcxI8JlQva-0
    &libraries=places">
  </script>
    </script>


    <script type="text/javascript" src="/javascripts/map.js"></script>


    <script src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/439415/p5.min.js'></script>
    <script src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/439415/p5.dom.js'></script>
    <script type="text/javascript">
    var r = [];
    var g = [];
    var b = [];
    var x1 = [];
    var y1 = [];
    var confettiSize = [];
    var confettipaque = [];
    var numflakes = 1500;
    var d1 = [];
    
    function setup() {
      noStroke();
      if (window.innerWidth > 1000) numflakes = numflakes * 5;
    
      createCanvas(window.innerWidth, window.innerHeight);
      for (var i = 0; i < numflakes; i++) {
        x1[i] = random(0, window.innerWidth);
        y1[i] = random(-window.innerHeight, 0);
     var col = round(random(0, 2));
                 if (col == 0) {r[i] = 255; g[i] = 0; b[i] = 0;}
        if (col == 1) {r[i] = 255; g[i] = 255; b[i] = 255;}
        if (col == 2) {r[i] = 0; g[i] = 0; b[i] = 255;}
        
    
        confettiSize[i] = random(1, 9);
        d1[i] = random(-4, 4);
        confettipaque[i] = random(90, 255);
      }
    }
    
    function draw() {
     
      background(0);
      drawConfetti();
    }
    
    function drawConfetti() {
      noStroke();
      for (var i = 0; i < numflakes; i++) {
        fill(r[i], g[i], b[i], confettipaque[i]);
        rect(x1[i], y1[i], confettiSize[i], confettiSize[i]  + random(-5, 1));
      
        y1[i] = y1[i] + random(-1, 20);
        y1[i] = y1[i] + 2;
        x1[i] = x1[i] + d1[i];
    
        if (y1[i] > window.innerHeight) {
          y1[i] = 0;
        }
        if (x1[i] > window.innerWidth || x1[i] < 0) {
          x1[i] = random(0, window.innerWidth);
        }
      }
    }
    </script>
  </body>