<section class="form-container">
    <h2>Edit User</h2>
    <form id="edit-user-form" class="user-form">
      <div class="field">
        <label for="name">Name: </label>
        <input type="text" name="name">
      </div>
      <div class="field">
        <label for="email">Email: </label>
        <input type="text" name="email">
      </div>
      <button id="edit-submit" class="submit-button">Update</button>
    </form>
  </section>
</section>