<div class="cont">
<h1>Hi <%=user.username%>!</h1>
<p><%=user.email%></p>

<hr>

<p><a href="/company/new">add your company</a></p>
<p><a href="/company/own">view your company</a></p>
<p><a href="/user/:id/edit">edit your profile</a></p>

</div>