html{
  margin: 0;
  padding: 0;
}
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.cont>a{
  color: #aa1779;
}

.cont{
  width: 100%;
  height: 100%;
  /* border-radius: 5px; */
  background-color: rgba(216, 216, 214, 0.6);
  color: rgb(16, 10, 39);
  margin: 50px 0;
  padding: 50px 0;
  align-content: center;
  text-align: center;
  /* display: flex;
  flex-wrap: wrap; */
}



#map {
  height: 500px;
  width: 100%;
 }

 body {background: black;
  position: absolute;
  top: -30px;
  left: -10px;
  overflow: hidden;}

.box {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -180px;
  margin-top: -120px;
  width: 360px;
  height: 60px;
  background: transparent;
  color: white;
  font-family: arial;
  font-weight: bold;
  font-size: 50px;
  text-shadow: 0 0 2px #fff;
  animation: fade 2s linear infinite alternate, up 2s linear forwards;
}
@keyframes fade {
  0% {opacity: 0;}
  50% {opacity: 0;}
  100% {opacity: 1;}
}
@keyframes up {
  0% {transform: translateY(200px);}
  50% {transform: translateY(200px);}
  100% {transform: translateY(0px);}
}