body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #001E4C;
}

a {
  color: #cfd4e6;
}

.cont{
  width: 900px;
  border-radius: 5px;
  background-color: rgba(207, 207, 236, 0.6);
  color: rgb(14, 7, 43);
  margin: 50px auto;
  padding: 50px;
  align-content: center;
  text-align: center;
}

/* .navbar{
  display: flex;
} */