html{
  margin: 0;
  padding: 0;
}
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.cont>a{
  color: #aa1779;
}

.cont{
  width: 100%;
  height: 100%;
  /* border-radius: 5px; */
  background-color: rgba(216, 216, 214, 0.6);
  color: rgb(16, 10, 39);
  margin: 50px 0;
  padding: 50px 0;
  align-content: center;
  text-align: center;
  /* display: flex;
  flex-wrap: wrap; */
}

/* .navbar{
  display: flex;
} */

#map {
  height: 500px;
  width: 100%;
 }