<head>
    <style>
        #map {
         height: 500px;
         width: 100%;
        }
     </style>

</head>
<section class="cont">
    <h2>Please create your profile, <br>
        and Showcase yourself!</h2>
    <form action="/company/new" method="post">
        <input placeholder="Title" type="text" name= "title"> <br>
        <input placeholder="Discription" type="text" name= "description"> <br>
        <input placeholder="Price" type="text" name= "price"> <br>
        <input placeholder="Email" type="text" name= "email"> <br>
        <select name='category'>
            <option value="hall">Hall</option>
            <option value="photography">Photography</option>
            <option value="music">Music</option>
            <option value="flowers">Flowers</option>
            <option value="other">Other</option>
          </select>
        <input type = "text" placeholder="Link to your calender" type="text" name= "calendar"> <br>
        <section>
            <h2>Upload your photo</h2>
            <form action="/upload" method="post" enctype="multipart/form-data">
              <input type="text" name="name">
              <input type="file" name="photo">
              <input type="submit" value="Save">
            </form>
          </section>


        <!-- <input id="search-box-user" type="text" name="where" placeholder="Search your location"> -->
        <br>
        <input style ="width:250px" id= "ricky" type="text">
    <input type="submit" name="" id="ricky">

        <input  id="search-box-user-lat" type="text" name="latitude" readonly>
        <input  id="search-box-user-lng" type="text" name="longitude" readonly>
        <br><br>
        <input type="submit" value="Save">
   
    <h3>Confirm your location on map</h3>
<div id="map"></div>
</form>
</section>


<script
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDEQxBrSwHxBiSTfLjK29OBcxI8JlQva-0
&libraries=places">
</script>

<script type="text/javascript" src="/javascripts/map.js"></script>


  
    