<section class="cont">
    <h2>Please create your profile, <br>
        and Showcase yourself! YEAAAH</h2>
    <form action="/company/new" method="post">
        <input placeholder="Title" type="text" name= "title"> <br>
        <input placeholder="Discription" type="text" name= "description"> <br>
        <input placeholder="Price" type="text" name= "price"> <br>
        <input placeholder="Email" type="text" name= "email"> <br>
        <input type = "text" placeholder="Link to your calender" type="text" name= "calendar"> <br>
        <input placeholder="Upload your media below" type="text" name="media"> <br>
        <input type="submit" value="Save">
    </form>
</section>